# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.so.*


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.o

# debug information files
*.dwo

# Python virutal environment files
python/.venv
python/.venv/*

# Python cahce files
*__pycache__

# CMake Files
*cmake_install.cmake
*CMakeFiles
CMakeCache.txt
*/Makefile
Makefile
build

# Test Files
test*

# VSCode Files
.vscode